<launch>
  <arg name="serial_no"             default=""/>
  <arg name="json_file_path"        default=""/>
  <arg name="camera"                default="camera1"/>

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="external_manager"      value="true"/>
      <arg name="manager"               value="/nodelet_manager"/>  
      <arg name="serial_no"         value="$(arg serial_no)"/>
      <arg name="json_file_path"    value="$(arg json_file_path)"/>
      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="1280"/>
      <arg name="color_height"      value="720"/>
      <arg name="color_fps"         value="30"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_gyro"       value="false"/>
      <arg name="enable_accel"      value="false"/>
      <arg name="enable_pointcloud" value="false"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="align_depth"       value="true"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>
    </include>
  </group>
  
  <!-- <node pkg="nodelet" type="nodelet" name="point_cloud_nodelet" args="load depth_image_proc/point_cloud_xyz /nodelet_manager" output="screen">
    <remap from="/camera_info" to="/camera1/aligned_depth_to_color/camera_info"/>
    <remap from="/image_rect" to="/camera1/aligned_depth_to_color/image_raw"/>
    <remap from="/points" to="/camera1/depth/color/points"/>
  </node> -->

</launch>
