<launch>
    <!-- number of moving objects -->
    <arg name="obj_num" value="10" />
    <arg name="drone_id" value="0"/>

    <arg name="map_size_x" value="20"/>
    <arg name="map_size_y" value="20"/>
    <arg name="map_size_z" value="2.5"/>
    <arg name="odom_topic" value="/mavros/local_position/odom"/>
    <!-- 话题 local_planner/goal_position 映射 move_base_simple/goal -->
    <!-- <arg name="odom_topic" value="/mavros/gazebo_pose/pose"/> -->

    <!-- main algorithm params -->
    <node pkg="tf" type="static_transform_publisher" name="iris_0_map_to_world" args="0.0 0.0 0 0 0.0 0 /world /local_origin 40" />

    <include file="$(find ego_planner)/launch/poao/param_exp.xml">
        <arg name="drone_id" value="$(arg drone_id)"/>
        <arg name="map_size_x_" value="$(arg map_size_x)"/>
        <arg name="map_size_y_" value="$(arg map_size_y)"/>
        <arg name="map_size_z_" value="$(arg map_size_z)"/>
        <arg name="odometry_topic" value="$(arg odom_topic)"/>
        <arg name="obj_num_set" value="$(arg obj_num)" />
        <!-- camera pose: transform of camera frame in the world frame -->
        <!-- depth topic: depth image, 640x480 by default -->
        <!-- don't set cloud_topic if you already set these ones! -->
        <!-- <arg name="camera_pose_topic" value="nouse1"/> -->

        <!-- 用于建图，直接使用odom不太行，这里需要相机的pose -->
        <arg name="camera_pose_topic" value="nouse"/>
        <arg name="depth_topic" value="/camera1/depth/image_rect_raw"/>

        <!-- <arg name="depth_topic" value="/d435i/depth/image_rect_raw"/> -->
        <!-- topic of point cloud measurement, such as from LIDAR  -->
        <!-- don't set camera pose and depth, if you already set this one! -->

        <!--  -->
        <arg name="cloud_topic" value="nouse"/>

        <!-- intrinsic params of the depth camera -->
        <!-- TODO: -->
        <!-- K [379.7127380371094, 0.0, 322.19525146484375, 0.0, 379.7127380371094, 237.7461700439453, 0.0, 0.0, 1.0] -->
        <!-- fx 0 cx 0 fy cy-->
        <arg name="cx" value="322.19525146484375"/>
        <arg name="cy" value="237.7461700439453"/>
        <arg name="fx" value="379.7127380371094"/>
        <arg name="fy" value="379.7127380371094"/>
        <!-- maximum velocity and acceleration the drone will reach -->
        <arg name="max_vel" value="0.3" />
        <arg name="max_acc" value="0.1" />
        <!--always set to 1.5 times grater than sensing horizen-->
        <arg name="planning_horizon" value="6" />
        <arg name="use_distinctive_trajs" value="false" />
        <!-- 1: use 2D Nav Goal to select goal  -->
        <!-- 2: use global waypoints below  -->
        <arg name="flight_type" value="1" />
        <!-- global waypoints -->
        <!-- It generates a piecewise min-snap traj passing all waypoints -->
        <arg name="point_num" value="4" />
        <arg name="point0_x" value="15" />
        <arg name="point0_y" value="0" />
        <arg name="point0_z" value="1" />
        <arg name="point1_x" value="0.0" />
        <arg name="point1_y" value="0.0" />
        <arg name="point1_z" value="1.0" />
        <arg name="point2_x" value="15.0" />
        <arg name="point2_y" value="0.0" />
        <arg name="point2_z" value="1.0" />
        <arg name="point3_x" value="0.0" />
        <arg name="point3_y" value="0.0" />
        <arg name="point3_z" value="1.0" />
        <arg name="point4_x" value="15.0" />
        <arg name="point4_y" value="0.0" />
        <arg name="point4_z" value="1.0" />
    </include>
    <!-- trajectory server -->
<!--    <node pkg="ego_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">-->
    <node pkg="ego_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">
        <!-- <remap from="position_cmd" to="/setpoints_cmd"/> -->
        <remap from="pose_cmd" to="/mavros/setpoint_position/local"/>
        <remap from="~planning/bspline" to="drone_$(arg drone_id)_planning/bspline"/>
        <param name="traj_server/time_forward" value="1.0" type="double"/>
    </node>
</launch>
